# =========================
# SERVER INFO
# =========================

sv_hostname "FiveM Server"

sets sv_projectName "FiveM Server"
sets sv_projectDesc "Custom FreeRoam Server"

sets locale "ua-UA"
sets tags "freeroam, vmenu, cars, sandbox"

sv_licenseKey "cfxk_MRH70DTilniCxoUk46X_2Z8clv"

sv_maxclients 3

sv_enforceGameBuild 3258
sv_scriptHookAllowed 0

# NETWORK

endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set steam_webApiKey "none"
set resources_useSystemChat true

# PERFORMANCE / SYNC

## [txAdmin CFG validator]: onesync MUST only be set in the txAdmin settings page.
# set onesync infinity

# BASE RESOURCES

ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure baseevents

# OX CORE

ensure ox_lib
ensure PolyZone
ensure ox_target

setr sv_stateBagStrictMode true

# ADMIN MENU

ensure vMenu

# GAMEPLAY SYSTEMS

ensure glitch-minigames
ensure LegacyFuel
ensure realistichandling
ensure weapon_recoil
ensure CarryPeople

ensure biq-shoprobbery
ensure sq-bankrobbery

# VEHICLES / CARS

ensure r820
ensure Rakchr
ensure 12charger
ensure venatusc
ensure rs615
ensure m6prior
ensure aimgainnsx
ensure xp210
ensure m5g60w

# FUN / FREEROAM

ensure rpemotes
ensure rup-vehiclespawner

# UI

ensure speedometer


# PERMISSIONS

add_ace group.admin command allow
add_ace group.admin command.quit deny

# Пример выдачи админки:
# add_principal identifier.license:XXXXXXXXXXXXXXXX group.admin
# add_principal identifier.fivem:123456 group.admin